h1{
  text-align: center
}

#display{
  width: 475px
}

.button{
  display: inline-block;
  border: 2px solid;
  color: blue;
  width: 75px;
  height: 75px;
  font-size: 40px
}

#calculatorBox{
  margin: auto;
  border: 2px solid;
  width: 500px;
  height: 800px;
}