h1 {
  text-align: center
}

#display {
  width: 800px
}

.button {
  border: 2px solid;
  height: 80px;
  width: 80px;
  font-size: 30px;


}

.cashRegisterButtons {
  border: 2px solid;
  height: 80px;
  width: 200px;
  font-size: 30px;

}



#calculatorBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid;
  height: 1000px;
  width: 600px;
  margin: auto;
}

