h1 {
  text-align: center
}

#calculatorBox {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around; /*puts a small amount of padding around each button*/
  text-align: center;
  border: 2px solid;
  height: 1000px;
  width: 600px;
  margin: auto; /*centers the calculator on the page*/
}


#display {
  width: 800px
}

.button {
  border: 2px solid;
  height: 80px;
  width: 80px;
  font-size: 30px;
}

.cashRegisterButtons {
  border: 2px solid;
  height: 80px;
  width: 200px;
  font-size: 30px;


}




